<fabric-ui-label [content]="labelContent">
</fabric-ui-label>

<fabric-ui-label [content]="labelContent" [disabled]="disabled">
</fabric-ui-label>

<fabric-ui-label [content]="labelContent" [required]="required">
</fabric-ui-label>

<fabric-ui-label content="Extra Small Spinner">
</fabric-ui-label>

<fabric-ui-spinner [size]="spinnerSize.xSmall">
</fabric-ui-spinner>

<fabric-ui-label content="Small Spinner">
</fabric-ui-label>

<fabric-ui-spinner [size]="spinnerSize.small">
</fabric-ui-spinner>

<fabric-ui-label content="Medium Spinner">
</fabric-ui-label>

<fabric-ui-spinner [size]="spinnerSize.medium">
</fabric-ui-spinner>

<fabric-ui-label content="Large Spinner">
</fabric-ui-label>

<fabric-ui-spinner [size]="spinnerSize.large">
</fabric-ui-spinner>

<fabric-ui-label content="Spinner With Label">
</fabric-ui-label>

<fabric-ui-spinner label="I am definitely loading...">
</fabric-ui-spinner>

<fabric-ui-label content="Large Spinner With Label">
</fabric-ui-label>

<fabric-ui-spinner [size]="spinnerSize.large" label="Seriously, still loading...">
</fabric-ui-spinner>

